<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COGNITO</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <!-- Include the navigation bar -->
    {% include 'navbar.html' %}

    <!-- Display messages if any -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Block for page-specific content -->
    {% block content %}
    {% endblock content %}
</body>
</html>
