{% for room in rooms %}
    <div>
        <!-- Check if the logged-in user is the host of the room -->
        {% if request.user == room.host %}
            <!-- Link to edit the room -->
            <a href="{% url 'update_room' room.id %}">
                <h4>Edit Room</h4>
            </a>
            <!-- Link to delete the room -->
            <a href="{% url 'delete_room' room.id %}">
                <h4>Delete Room</h4>
            </a>
        {% endif %}
        <!-- Link to view the room details -->
        <a href="{% url "user_profile" room.host.id %}">@{{room.host.username}}</a>
        <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
        <small>{{room.topic.name}}</small>
        <hr>
    </div>
{% endfor %}
