{% extends "base.html" %}

    {% block content %}

    <style>
        .home-container{
            display:grid;
            grid-template-columns:1fr 3fr 1fr;
        }
    </style>
    <div class="home-container">

        <div>
            {% include "main/topics_component.html" %}
        </div>
    
        
        <div>
            <h1>HOMEPAGE</h1>
            <h5>{{room_count}} rooms available</h5>
            <a href="{% url "create_room" %}"><h4>Create Room</h4></a>
            <hr>
            {% include "main/feed_component.html" %}
        </div>

        <div>
            {% include "main/activity_component.html" %}
        </div>

    </div>

    {% endblock content %}
